html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "AnimeAce-regular";
    src: url("../fonts/anime-ace-family/anime-ace.regular.ttf");
}
@font-face {
    font-family: "AnimeAce-bold";
    src: url("../fonts/anime-ace-family/anime-ace.italic.ttf");
}
#container{
    width: 90%;
    margin: auto;
}