/****Initializing variables****/

/*************************************/
a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

ul{
    list-style: none;
}

/*navigation*/
.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 55px 0 ;   
}
.nav-brand {
    width: 100px;
}
/*nav left*/
.nav-main ul {
    display: flex;   
}
.nav-main ul li {
    padding: 40px;
}
.nav-main ul li  a:hover {
 border-bottom: 2px solid white;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}
.btn-search{
    display: none;
    margin: 0px;
    background-color: #3d3434;
    border:none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    &::placeholder{
    color:rgb(236, 232, 232);
    font-size: 12px;
    }
    &:target{
        display: initial;
    }
}
/****darkmoder****/
.btn_darkmoder{
    color:#fff;
    &:hover{
        cursor:pointer;
    }
}

body.darkmoder{
    filter: invert(100%);
    hr{
        filter: invert(100%);
    }
    img{
        filter: invert(100%);
    }
    .showcase{
        filter: invert(100%);
    }
}
/*showcase*/
hr{
    margin: 30px 0;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('../images/showcase_one.png') no-repeat center center/cover  ;
    padding-bottom: 18px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    }

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(5, 5, 5);
    color: rgb(236, 232, 232);
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}
.btn:hover {
    opacity: .7;
}
.showcase h2 .showcase p {
    margin-bottom: 10px;
}