/****Initializing variables****/

/*************************************/
a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

ul{
    list-style: none;
}

/*navigation*/
.nav-main {
    font-size: 25px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -1rem;
    height: 100px;
    padding: 50px 40px ;
    background-color: rgb(0, 0, 0);
}
.nav-brand {
    width: 100px;
}
/*nav left*/
.nav-main ul {
    display: flex;   
}
.nav-main ul li {
    padding: 40px;
}
.nav-main ul li  a:hover {
 border-bottom: 2px solid white;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

/****darkmoder****/
.btn_darkmoder{
    color:#fff;
    &:hover{
        cursor:pointer;
    }
}

body.darkmoder{
    filter: invert(100%);
    hr{
        filter: invert(100%);
    }
    img{
        filter: invert(100%);
    }
    .showcase-1{
        filter: invert(100%);
    }
    .cards-banner-one {
    filter: invert(100%);
    }
    .cards-banner-two{
        filter: invert (100%);
    }
    }
    .content {
    filter: invert(100%);
    }
/*showcase*/
hr{
    margin: 30px 0;
}
@mixin showcase {
    width: 100%;
    height: 550px;
    padding-bottom: 18px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.showcase-1{
    @include showcase();
    background: url('../images/showcase_one.png') no-repeat center center/cover  ;
}
.showcase-2{
    @include showcase();
    background: url('../images/showcase_two.png') no-repeat center center/cover  ;
}
.showcase-3{
    @include showcase();
        background: url('../images/showcase_tre.png') no-repeat center center/cover  ;
}

.btn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(5, 5, 5);
    color: rgb(236, 232, 232);
    font-size: 15px;
    border: 1px solid white;
    margin: 15px 0;
    left:15%;
}
.btn:hover {
    opacity: .7;
}
.showcase h2 .showcase p {
    margin-bottom: 10px;
}
/*responsive*/ 
