h1{
    text-align: center;
    font-family: "AnimeAce-bold";
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 65px;
}
h2{
    margin:15px;
}
/*new cards*/

.new-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.new-cards img {
    width: 100%;
    height: 180px;

}
.new-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
.new-cards a {
    padding: 10px 0;
    color: red;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.new-cards a:hover{
    text-decoration: underline;

}
/*cards banner one*/
.cards-banner-one{
    width: 100%;
    height: 250px;
    background: url(/app_comicman/assets/images/showcase_tre.png) no-repeat center center/cover;
    margin-bottom: 40px;
}